################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStrcutureAlgorithm/bin/Debug
/DataStrcutureAlgorithm/obj/Debug
/DataStrcutureAlgorithm.UnitTest/obj
/.vs/DataStrcutureAlgorithm/v15
/DataStrcutureAlgorithm.UnitTest/bin/Debug/netcoreapp2.2
/UnitTest/bin/Debug/netcoreapp3.1
/DataStrcutureAlgorithm/obj
/UnitTest/obj
