################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStrcutureAlgorithm/bin/Debug
/DataStrcutureAlgorithm/obj/Debug
/DataStrcutureAlgorithm.UnitTest/obj
/.vs/DataStrcutureAlgorithm/v15
